<div class="card">
  <div class="header">
    <div class="col-md-8">
      <h4 class="title">{{title}}</h4>
    </div>

  </div>
  <div class="content">
    <div class="table-responsive table-full-width">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>MAC</th>
            <th>Hostname</th>
            <th>version</th>
            <th>lanip</th>
            <th>wanip</th>
            <th>Automatic Updates</th>
          </tr>
        </thead>
        <tbody>
          {{#each gateways as |gateway|}}
            {{#link-to "gateways.show" job.id tagName="tr"}}
              <td>{{gateway.mac}}</td>
              <td>{{gateway.id}}</td>
              <td>{{gateway.version}}</td>
              <td>{{gateway.lanip}}</td>
              <td>{{gateway.wanip}}</td>
              <td>{{gateway.upgrade}}</td>
              <!-- <td><a href="#">View/Edit</a></td>
              <td>
                {{#link-to "gateway.show" job.id }}
                  <span class="pe-7s-note" style="font-size:32px; text-align: center; color:blue;"></span>
                {{/link-to}}
                {{#link-to "jobs.delete" job }}
                  <span class="pe-7s-trash" style="font-size:32px; text-align: center; color:red;"></span>
                {{/link-to}}
              </td> -->
            {{/link-to }}
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>
