<div class="card">
  <div class="header">
    <div class="col-md-8">
      <h4 class="title">{{title}}</h4>
    </div>
    <div class="col-md-4">
      {{#link-to 'jobs.add'}}<button class="btn btn-primary" type="button">Add Job</button> {{/link-to}}
    </div>
  </div>
  <div class="content">
    <div class="table-responsive table-full-width">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Status</th>
            <th>Site</th>
            <th>Last Result</th>
            <th>Name</th>
            <th>Type</th>
            <th>Image</th>
            <th>Environment</th>
            <th>Schedule</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {{#each jobs as |job|}}
            {{#link-to "jobs.show" job.id tagName="tr"}}
              <td>{{job.id}}</td>
              <td>
                {{job-active-toggle job=job}}
              </td>
              <td>{{job.queue}}</td>
              <td>
                {{job-result-icon job=job}}
              </td>
              <td>{{job.name}}</td>
              <td>{{job.type}}</td>
              <td>{{job.image}}</td>
              <td><a href="#">View/Edit</a></td>
              <td>{{job.interval.every}} {{job.interval.period}}</td>
              <td>
                {{#link-to "jobs.show" job.id }}
                  <span class="pe-7s-note" style="font-size:32px; text-align: center; color:blue;"></span>
                {{/link-to}}
                {{#link-to "jobs.delete" job }}
                  <span class="pe-7s-trash" style="font-size:32px; text-align: center; color:red;"></span>
                {{/link-to}}
              </td>
            {{/link-to }}
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>
