<div class="card">
  <div class="header">
    <h4 class="title">Scan found {{scan.results.nmap.scanstats.uphosts}} Hosts</h4>
  </div>
  <div class="content">
    <div class="table-responsive table-full-width">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>MAC</th>
            <th>Vendor</th>
            <th>IP</th>
            <th>Status</th>
            <th>Ports</th>
            <th>Last Reboot</th>
            <th>Operating System</th>
          </tr>
        </thead>
        <tbody>
          {{#each-in scan.results.scan  as |host details|}}
            <tr>
               <td>{{details.addresses.mac}}</td>
               <td>
                 {{#each-in details.vendor as |mac vendor|}}
                   {{vendor}}
                 {{/each-in}}
               </td>
              <td>{{host}}</td>
              <td>{{details.status.state}}</td>
              <td>
                    {{#each-in details.tcp as |port details|}}
                    {{port}}/{{details.name}}
                    {{/each-in}}

              </td>
              <td>
                {{details.uptime.lastboot}}
              </td>

              <td>
                {{#each details.osmatch as |osmatch|}}
                  {{osmatch.name}}
                {{/each}}
              </td>
            </tr>
          {{/each-in}}
        </tbody>
      </table>
    </div>
  </div>
</div>
