
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="card-wrap">
        <div class="card">
          <div class="header">
              <h4 class="title">{{model.id}}</h4>
          </div>
          <div class="col-md-6">
            <table class="table table-condensed">
              <tbody>
                <tr>
                  <td><strong>Version</strong></td>
                  <td>{{model.version}}</td>
                  <td><strong>Gateway Health</strong></td>
                  <td>{{gateway-health-icon gateway=model}}</td>

                </tr>
                <tr>
                  <td><strong>LAN IP</strong> </td>
                  <td>{{model.lanip}}</td>
                  <td><strong>Automatic Updates</strong></td>
                  <td>{{gateway-automatic-updates-icon gateway=model}}</td>

                </tr>
                <tr>
                  <td><strong>MAC Address</strong></td>
                  <td>{{model.mac}}</td>
                  <td><strong>WAN IP</strong></td>
                  <td>{{model.wanip}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card-wrap">
        <div class="card">
          <div class="header">
              <h4 class="title">Site Actions</h4>
          </div>
          <div class="col-md-6">
            <ul>
              <li>Create Tunnel</li>
              <li>Peform Scan</li>

              <li>Perform SpeedTest</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

    {{tunnel-list-active title="Active Tunnels" tunnels=model.tunnels}}
    {{tunnel-list title="Expired Tunnels" tunnels=model.tunnels}}
    {{speedtest-results title="Recent SpeedTests" speedtests=model.speedtests}}
{{outlet}}
