<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="card-wrap">
        <div class="card">
          <div class="header">
              <h4 class="title">Job Detail</h4>
              <h4>Name: {{model.name}}</h4>
              <h4>Frequency: Every {{model.interval.every}} {{model.interval.period}}</h4>
              <h4> Last Result</h4>

              <button class="btn btn-default">{{model.last_result}}</button>
          </div>
        </div>
      </div>
      
    </div>
    <div class="col-md-6">
      {{pass-fail-chart passed_count=model.passed_count failed_count=model.failed_count}}
    </div>
  </div>
</div>
    {{result-list title="Results" results=model.results}}


{{outlet}}
