{{#if session.isAuthenticated}}

  <div class="wrapper">
    <div class="sidebar" data-color="blue">
      <div class="sidebar-wrapper">
        <div class="logo">
          <a href="https://github.com/imapex/collins" class="simple-text">
          interthings.io
          </a>
        </div>
        <ul class="nav">
          <li>
            {{#link-to "gateways"}}<i class="pe-7s-home"></i><p>Sites</p>{{/link-to}}
          </li>
          <li>
            {{#link-to "systems"}}<i class="pe-7s-network"></i><p>Systems</p>{{/link-to}}
          </li>
          <li>
            {{#link-to "tunnels"}}<i class="pe-7s-share"></i><p>Connect</p>{{/link-to}}
          </li>
          <li>
            {{#link-to "scans"}}<i class="pe-7s-helm"></i><p>Network Scans</p>{{/link-to}}
          </li>
          <li>
            {{#link-to "speedtests"}}<i class="fa fa-dashboard"></i><p>Speed Tests</p>{{/link-to}}
          </li>

          <li>
            {{#link-to "jobs"}}<i class="pe-7s-stopwatch"></i><p>Scheduled Jobs</p>{{/link-to}}
          </li>
          <li>
            {{#link-to "results"}}<i class="pe-7s-news-paper"></i><p>Results</p>{{/link-to}}
          </li>
          <li>
            {{#link-to "plugins"}}<i class="pe-7s-cloud-download"></i><p>Plugins</p>{{/link-to}}
          </li>
          <li>
            <a href=""><i class="pe-7s-volume"></i><p>Notifications</p></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <nav class="navbar navbar-default navbar-fixed">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              {{#link-to "index" class="navbar-brand"}}Dashboard{{/link-to}}
            </div>

            <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav navbar-left">
                <!-- <li>
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-dashboard"></i>
                    <p class="hidden-lg hidden-md">Dashboard</p>
                  </a>
                </li> -->

                <!-- <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-globe"></i>
                    <b class="caret hidden-sm hidden-xs"></b>
                    <span class="notification hidden-sm hidden-xs">5</span>
                    <p class="hidden-lg hidden-md">
                      5 Notifications
                      <b class="caret"></b>
                    </p>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Notification 1</a></li>
                    <li><a href="#">Notification 2</a></li>
                    <li><a href="#">Notification 3</a></li>
                    <li><a href="#">Notification 4</a></li>
                    <li><a href="#">Another notification</a></li>
                  </ul>
                </li> -->

                <!-- <li>
                  <a href="">
                    <i class="fa fa-search"></i>
                    <p class="hidden-lg hidden-md">Search</p>
                  </a>
                </li> -->
              </ul>

              <ul class="nav navbar-nav navbar-right">
                <!-- <li>{{#link-to "index"}}Account{{/link-to}}</li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <p>
                      Dropdown
                      <b class="caret"></b>
                    </p>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                  </ul>
                </li>
   -->

                <li>
                  {{#if session.isAuthenticated}}
                    <a {{action 'invalidateSession'}}>Logout</a>
                  {{else}}
                    {{#link-to 'login'}}Login{{/link-to}}
                  {{/if}}
                </li>

                <li class="separator hidden-lg hidden-md"></li>
              </ul>
            </div>
          </div>
        </nav>
      </nav>
      <div class="container-fluid">
        {{outlet}}
      </div>
    </div>
  </div>
{{else}}
     {{outlet}}
{{/if}}
