       <form class="form-signin" {{action 'authenticate' on='submit'}}>
         <p>
           <h2 class="form-signin-heading">interthings.io signin</h2>
           <label for="username" class="sr-only">Username</label>
           {{input id='username' class='form-control' placeholder='Enter Login' value=username}}
           <!-- <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus> -->
         </p>
         <p>
          <label for="password" class="sr-only">password</label>

           {{input id='password' class='form-control' placeholder='Enter Password' type='password' value=password}}
           <!-- <input type="password" id="inputPassword" class="form-control" placeholder="Password" required> -->
         </p>

           <p>
         <button class="btn btn-lg btn-primary btn-block" type="submit">login</button>
       </p>
       </form>

<!-- <form {{action 'authenticate' on='submit'}}>
  <p>
    <label for="username">Login</label>
    {{input id='username' placeholder='Enter Login' value=username}}
  </p>
  <p>
    <label for="password">Password</label>
    {{input id='password' placeholder='Enter Password' type='password' value=password}}
  </p>
  <p>
    <button class="btn btn-primary" type="submit">Login</button>
  </p>
  {{#if error}}
    <p>Login Failed </p>
  {{/if}}
</form>
{{outlet}} -->
