<div class="row">
  <div class="col-md-3">
    {{plugin-card company="Nichols Buildings" description="Nichols is.. " logourl="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1DWkiJ3F8POKiWUA6clr8318NF9Bg6ltR7llwMUumUgbdJRoA"}}
  </div>
  <div class="col-md-3">
    {{plugin-card company="Buffalo Bills" description="Buffalo bills does cool shit" logourl="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCgmosUiYN3exrWaucHFvcyK8l4ls1T_kzWipOhJThvUv3gF-z"}}
  </div>
  <div class="col-md-3">
    {{plugin-card company="Bruizer Home automation" description="we will bruise the competition" logourl="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMpINm991-sHpC6I6V5PsmX-mpxCnUzH7cZCj-akJvvC5SUDhy"}}
  </div>
  <div class="col-md-3">
    {{plugin-card company="Buffalo Bills" description="Buffalo bills does cool shit" logourl="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCgmosUiYN3exrWaucHFvcyK8l4ls1T_kzWipOhJThvUv3gF-z"}}
  </div>
  <div class="col-md-3">
    {{plugin-card company="Nichols Buildings" description="Nichols is.. " logourl="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1DWkiJ3F8POKiWUA6clr8318NF9Bg6ltR7llwMUumUgbdJRoA"}}
  </div>

  <div class="col-md-3">
    {{plugin-card company="Bruizer Home automation" description="we will bruise the competition" logourl="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMpINm991-sHpC6I6V5PsmX-mpxCnUzH7cZCj-akJvvC5SUDhy"}}
  </div>
  <div class="col-md-3">
    {{plugin-card company="Buffalo Bills" description="Buffalo bills does cool shit" logourl="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCgmosUiYN3exrWaucHFvcyK8l4ls1T_kzWipOhJThvUv3gF-z"}}
  </div>
  <div class="col-md-3">
    {{plugin-card company="Nichols Buildings" description="Nichols is.. " logourl="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1DWkiJ3F8POKiWUA6clr8318NF9Bg6ltR7llwMUumUgbdJRoA"}}
  </div>
  <div class="col-md-3">
    {{plugin-card company="Bruizer Home automation" description="we will bruise the competition" logourl="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMpINm991-sHpC6I6V5PsmX-mpxCnUzH7cZCj-akJvvC5SUDhy"}}
  </div>
  <div class="col-md-3">
    {{plugin-card company="Buffalo Bills" description="Buffalo bills does cool shit" logourl="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCgmosUiYN3exrWaucHFvcyK8l4ls1T_kzWipOhJThvUv3gF-z"}}
  </div>
  <div class="col-md-3">
    {{plugin-card company="Nichols Buildings" description="Nichols is.. " logourl="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1DWkiJ3F8POKiWUA6clr8318NF9Bg6ltR7llwMUumUgbdJRoA"}}
  </div>

</div>

{{outlet}}
